body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Geometria", sans-serif;
  font-weight: 400;
  display: flex;
  width: 100%;
  height: 8773px;
  background-color: #fff;
  color: #000;
  font-size: 25px;
  overflow-x: hidden;
  background: url("../img/fon.svg");
  background-size: 1280px;
  background-repeat: no-repeat;
  background-position: top;
}

h1 {
  text-transform: uppercase;
  font-size: 187px;
  font-weight: 700;
}

#hletterG {
  position: relative;
  display: block;
  width: 144px;
  height: 235px;
  margin: 234px 0px 0px 47px;
  transform: rotate(-56deg);
}

#hlettere {
  position: relative;
  display: block;
  width: 120px;
  height: 235px;
  margin: -346px 0px 0px 156px;
  transform: rotate(-42deg);
}

#hlettero {
  position: relative;
  display: block;
  margin: 0px 0px 0px 0px;
  transform: rotate(deg);
}

#hletterm {
  position: relative;
  display: block;
  margin: 0px 0px 0px 0px;
  transform: rotate(deg);
}

#hlettere2 {
  position: relative;
  display: block;
  margin: 0px 0px 0px 0px;
  transform: rotate(deg);
}

#hlettert {
  position: relative;
  display: block;
  margin: 0px 0px 0px 0px;
  transform: rotate(deg);
}

#hletterr {
  position: relative;
  display: block;
  margin: 0px 0px 0px 0px;
  transform: rotate(deg);
}

#hletteri {
  position: relative;
  display: block;
  margin: 0px 0px 0px 0px;
  transform: rotate(deg);
}

#hlettera {
  position: relative;
  display: block;
  margin: 0px 0px 0px 0px;
  transform: rotate(deg);
}

.header {
  margin: 36px auto;
}

.spring {
  position: relative;
  display: block;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
}

.authors {
  position: relative;
  display: block;
  width: 265px;
  font-size: 25px;
  line-height: 31px;
  margin: 44px 0px 0px 0px;
}

.first-letter {
  font-style: italic;
  font-weight: 700;
  line-height: 38px;
  font-size: 30px;
}

.year {
  position: relative;
  display: block;
  font-size: 70px;
  margin: -64px 0px 0px 1011px;
}

.cover {
  position: relative;
  display: block;
  width: 1013px;
  height: 1013px;
  margin: 230px 0px 0px 134px;
  background: url("../img/cover.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

#covertext1 {
  position: absolute;
  display: block;
  color: #fff;
  font-size: 19px;
  text-transform: uppercase;
  margin: 558px 0px 0px 342px;
}

#covertext2 {
  position: absolute;
  display: block;
  color: #fff;
  font-size: 66px;
  text-transform: uppercase;
  margin: 726px 0px 0px 289px;
}
