@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Thin.ttf");
  src: local("Geometria Thin"), local("Geometria-Thin"),
    url("../fonts/Geometria-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ThinItalic.ttf");
  src: local("Geometria ThinItalic"), local("Geometria-ThinItalic"),
    url("../fonts/Geometria-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtraLight.ttf");
  src: local("Geometria ExtraLight"), local("Geometria-ExtraLight"),
    url("../fonts/Geometria-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtraLightItalic.ttf");
  src: local("Geometria ExtraLightItalic"), local("Geometria-ExtraLightItalic"),
    url("../fonts/Geometria-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Light.ttf");
  src: local("Geometria Light"), local("Geometria-Light"),
    url("../fonts/Geometria-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-LightItalic.ttf");
  src: local("Geometria LightItalic"), local("Geometria-LightItalic"),
    url("../fonts/Geometria-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Regular.ttf");
  src: local("Geometria"),
    url("../fonts/Geometria-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-RegularItalic.ttf");
  src: local("Geometria Italic"), local("Geometria-Italic"),
    url("../fonts/Geometria-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Medium.ttf");
  src: local("Geometria Medium"), local("Geometria-Medium"),
    url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-MediumItalic.ttf");
  src: local("Geometria MediumItalic"), local("Geometria-MediumItalic"),
    url("../fonts/Geometria-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Bold.ttf");
  src: local("Geometria Bold"), local("Geometria-Bold"),
    url("../fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-BoldItalic.ttf");
  src: local("Geometria BoldItalic"), local("Geometria-BoldItalic"),
    url("../fonts/Geometria-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("Geometria-ExtraBold.ttf");
  src: local("../fonts/Geometria ExtraBold"), local("Geometria-ExtraBold"),
    url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtraBoldItalic.ttf");
  src: local("Geometria ExtraBoldItalic"), local("Geometria-ExtraBoldItalic"),
    url("../fonts/Geometria-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Heavy.ttf");
  src: local("Geometria Heavy"), local("Geometria-Heavy"),
    url("../fonts/Geometria-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-HeavyItalic.ttf");
  src: local("Geometria HeavyItalic"), local("Geometria-HeavyItalic"),
    url("../fonts/Geometria-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
