@font-face {
  font-family: "Geometria";
  src: url("../fonts/GeometriaThin/GeometriaThin.woff") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/GeometriaThin/GeometriaExtraLight.woff") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/GeometriaThin/GeometriaExtraLight.woff") format("truetype");
  font-style: normal;
  font-weight: 300;
}
